<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test thread-count="5" name="TestA" parallel="tests">
    <classes>
      <class name="parallel.Demo"/>
      <class name="parallel.Demo1"/>
    </classes>
  </test> 
   <test thread-count="5" name="TestB" parallel="tests">
    <classes>
      <class name="parallel.Demo"/>
      <class name="parallel.Demo1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
